@import "../node_modules/materialize-css/dist/css/materialize.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  padding: 0 3rem;
}

.auth-page-btn {
  margin: 0 .3rem;
}

.tabs {
  display: flex;
  justify-content: center;
}

.tabs li {
  margin: 0 !important;
}

.tabs .tab a {
  color: #000;
}

.tabs .tab a:hover {
  background-color: #b2ebf2;
  color: #000;
}

.tabs .tab a.active {
  background-color: #00acc1 !important;
  color: #fff;
}

.tabs .indicator {
  background-color: #00838f;
}